*{padding:0;margin:0;box-sizing:border-box;}
body {background:#f5f5f5;font-family:"Microsoft Yahei";font-size:16px;-webkit-tap-highlight-color:rgba(0,0,0,0); outline:none;}
ol,ul,li {list-style: none;}
a,a:hover,a:active{color: #333; text-decoration: none;}
input, textarea, select{font-size: 100%; font-family: "Microsoft Yahei";}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
textarea {  -webkit-appearance: none;}
.clear {zoom: 1;}
.clear:after, .clear:before {clear:both; content:''; display: table;height:0;}
.left {float: left;}
.right {float:right;}
.rel {position:relative;}
.abs {position:absolute;}
.whitebg {background: #fff;}
.content {min-width:320px;max-width:640px;width:100%;margin-left:auto;margin-right:auto;}
.mauto {margin-left:auto;margin-right:auto;}
.tindent {text-indent: -9999em;}
.center {text-align: center;}
.ellipsis {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.yellow {color:#f5a623;}
.toast-box span{color: #ffffff !important;}
.mint-spinner-snake{margin:10px auto !important;}
